@model IEnumerable<DenunciadoBackEnd.Models.ComplaintType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    
    <a class="btn btn-primary" href="/ComplaintType/Create"> Create New <span class="glyphicon glyphicon-plus"></span> </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <a class="btn btn-warning" href="/ComplaintTypes/Edit/@item.ComplaintTypeId"> Edit <span class="glyphicon glyphicon-edit"></span> </a>
            <a class="btn btn-info" href="/ComplaintTypes/Details/@item.ComplaintTypeId"> Details <span class="glyphicon glyphicon-exclamation-sign"></span> </a>
            <a class="btn btn-danger" href="/ComplaintTypes/Delete/@item.ComplaintTypeId"> Delete <span class="glyphicon glyphicon-trash"></span> </a>
            
            @*@Html.ActionLink("Edit", "Edit", new {id = item.ComplaintTypeId}) |
            @Html.ActionLink("Details", "Details", new {id = item.ComplaintTypeId}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.ComplaintTypeId})*@
        </td>
    </tr>
}

</table>
