@model Mersy.Domain.Entities.Cor.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixFact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixFact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixNcf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixNcf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeqNcf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeqNcf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrefixFinalFact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrefixFinalFact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcfEnds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcfEnds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeqFact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeqFact)
        </dd>
         
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
