@model Place
@{
    ViewData["Title"] = "Detalle de Lugar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Index" class="btn btn-success">
        <i class="fa fa-reply-all"></i>
        Volver al Listado de Zonas
    </a>
    <a asp-action="EditPlace" class="btn btn-warning" asp-route-id="@Model.Id">
        <i class="fa fa-pencil-alt"></i>
        Modificar
    </a>
    <a asp-action="DeletePlace" class="btn btn-danger" asp-route-id="@Model.Id">
        <i class="fa fa-trash-alt"></i>
        Eliminar 
    </a>
</p>

<div class="container-fluid">

    <div class="row ">
        <div class="col-sm-12">
            <label asp-for="Name" class="control-label">Nombre del Lugar</label>
            : &nbsp;   @Model.Name
        </div>
    </div>
    
</div>
<br />
<br />

<div id="CurrentParticipants">
    <p>
        @*<a class="btn btn-primary" id="btnAddParticipant">
            <i class="fa fa-plus"></i>
            Agregar Ocupante (Clase)
        </a>*@
        @*<a class="btn btn-primary" id="btnAddParticipant">
            <i class="fa fa-plus"></i>
            Agregar Ocupante
        </a>*@
    </p>
    <br /><br />
    @if (Model.Occupants.Count() == 0)
    {
        <p>
            No hay Ocupaciones registradas en este Lugar :'('
        </p>
        <p>
            Intenta Agregar algunos presionando el boton azul que dice: ( Agregar Ocupante )
        </p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            Nombre del Ocupante
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Occupants)
                    {
                        <tr>
                            <td>
                             @if (item.Person != null)
                             {
                                 @item.Person.FullName
                             }
                             else
                             {
                                 @item.Classe.Name
                             }
                            </td>
                            <td>
                                @if (item.Person != null)
                                {
                                    <a asp-action="RemoveOccupant" class="btn btn-danger"
                                       asp-route-id="@item.PlaceId"
                                       asp-route-occupant="@item.PersonId">
                                        <i class="fa fa-trash-alt"></i>
                                        Remover de la Lista
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="RemoveOccupant" class="btn btn-danger"
                                       asp-route-id="@item.PlaceId"
                                       asp-route-occupant="@item.ClasseId">
                                        <i class="fa fa-trash-alt"></i>
                                        Remover de la Lista
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>