<!-- START Sidebar (left)-->
<div class="aside-inner">
    <nav class="sidebar" data-sidebar-anyclick-close="">
        <!-- START sidebar nav-->
        <ul class="sidebar-nav">
            <!-- START user info-->
            @*<li class="has-user-block">
            <div id="user-block" class="collapse">
                <div class="item user-block">
                    <!-- User picture-->
                    <div class="user-block-picture">
                        <div class="user-block-status">
                            <img src="~/images/user/02.jpg" alt="Avatar" width="60" height="60" class="img-thumbnail rounded-circle" />
                            <div class="circle bg-success circle-lg"></div>
                        </div>
                    </div>
                    <!-- Name and Job-->
                    <div class="user-block-info">
                        <span class="user-block-name">Hello, Mike</span>
                        <span class="user-block-role">Designer</span>
                    </div>
                </div>
            </div>
        </li>*@
            <!-- END user info-->
            <!-- Iterates over all sidebar items-->

            <li class="nav-heading">
                <span> &nbsp;</span>
            </li>
            @*<li class="@Html.isActive(controller: "Dashboard")">
            <a href="#dashboard" title="Dashboard" data-toggle="collapse">
                <div class="badge badge-info float-right">3</div>
                <em class="icon-speedometer"></em>
                <span data-localize="sidebar.nav.DASHBOARD">Dashboard</span>
            </a>
            <ul id="dashboard" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Dashboard</li>
                <li class="@Html.isActive("Dashboard", "Dashboard_v1")">
                    <a href="@Url.Action("Dashboard_v1", "Dashboard")" title="Dashboard v1">
                        <span>Dashboard v1</span>
                    </a>
                </li>
                <li class="@Html.isActive("Dashboard", "Dashboard_v2")">
                    <a href="@Url.Action("Dashboard_v2", "Dashboard")" title="Dashboard v2">
                        <span>Dashboard v2</span>
                    </a>
                </li>
                <li class="@Html.isActive("Dashboard", "Dashboard_v3")">
                    <a href="@Url.Action("Dashboard_v3", "Dashboard")" title="Dashboard v3">
                        <span>Dashboard v3</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Widgets")">
            <a href="@Url.Action("Index", "Widgets")" title="Widgets">
                <div class="badge badge-success float-right">30</div>
                <em class="icon-grid"></em>
                <span data-localize="sidebar.nav.WIDGETS">Widgets</span>
            </a>
        </li>*@
            @*<li>
            <a href="#layout" title="Layouts" data-toggle="collapse">
                <em class="icon-layers"></em>
                <span>Layouts</span>
            </a>
            <ul id="layout" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Horizontal</li>
                <li>
                    <a href="@Url.Action("Dashboard_h", "Dashboard")" title="Dashboard Horizontal">
                        <span>Horizontal</span>
                    </a>
                </li>
            </ul>
        </li>*@
            <li class="">
                <a asp-action="" asp-controller="">

                    <span> &nbsp;</span>
                </a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {


                <li class="">
                    <a asp-action="Index"
                       asp-controller="Options"
                       asp-area="Administration">
                        <em class="fa fa-cog"></em>
                        <span  data-localize="home.optionGeneralAdministration">Administracion GEN</span>
                    </a>
                </li>
                
                <li class="">
                    <a asp-action="Index"
                       asp-controller="Options"
                       asp-area="Fund">
                        <em class="fas fa-baseball-ball"></em>
                        <span data-localize="home.optionFundation">Fundacion </span>
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index"
                       asp-controller="Options"
                       asp-area="Pos">
                        <em class="fa fa-money-bill-alt"></em>
                        <span>P.O.S. </span>
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index"
                       asp-controller="Options"
                       asp-area="Reports">
                        <em class="fa fa-file"></em>
                        <span data-localize="home.optionReports"> Reportes </span>
                    </a>
                </li>

                @*<li class="">
                    <a asp-action="" asp-controller="">
                        <em class="fa fa-user-md"></em>
                        <span>Historia Medica</span>
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="Options"
                       asp-area="Pos">
                        <em class="fa fa-tasks"></em>
                        <span>Administracion POS</span>
                    </a>
                </li>
                <li class="">
                    <a asp-action="Index"
                       asp-controller="Options"
                       asp-area="School">
                        <em class="fas fa-book-reader"></em>
                        <span>Administracion Escolar</span>
                    </a>
                </li>*@

            }
            @*<li class="nav-heading">
            <span>Components</span>
        </li>
        <li class="@Html.isActive(controller: "Elements")">
            <a href="#elements" title="Elements" data-toggle="collapse">
                <em class="icon-chemistry"></em>
                <span data-localize="sidebar.nav.element.ELEMENTS">Elements</span>
            </a>
            <ul id="elements" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Elements</li>
                <li class="@Html.isActive("Elements", "Buttons")">
                    <a href="@Url.Action("Buttons", "Elements")" title="Buttons">
                        <span data-localize="sidebar.nav.element.BUTTON">Buttons</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Notifications") ">
                    <a href="@Url.Action("Notifications", "Elements")" title="Notifications">
                        <span data-localize="sidebar.nav.element.NOTIFICATION">Notifications</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "SweetAlert") ">
                    <a href="@Url.Action("SweetAlert", "Elements")" title="SweetAlert">
                        <span>Sweet Alert</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Carousel")">
                    <a href="@Url.Action("Carousel", "Elements")" title="Carousel">
                        <span data-localize="sidebar.nav.element.INTERACTION">Carousel</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Spinners")">
                    <a href="@Url.Action("Spinners", "Elements")" title="Spinners">
                        <span data-localize="sidebar.nav.element.SPINNER">Spinners</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "DropdownAnimations")">
                    <a href="@Url.Action("DropdownAnimations", "Elements")" title="Dropdown">
                        <span data-localize="sidebar.nav.element.DROPDOWN">Dropdown</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Nestable")">
                    <a href="@Url.Action("Nestable", "Elements")" title="Nestable">
                        <span>Nestable</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Sortable")">
                    <a href="@Url.Action("Sortable", "Elements")" title="Sortable">
                        <span>Sortable</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Cards")">
                    <a href="@Url.Action("Cards", "Elements")" title="Cards">
                        <span data-localize="sidebar.nav.element.CARDS">Cards</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Portlets")">
                    <a href="@Url.Action("Portlets", "Elements")" title="Portlets">
                        <span data-localize="sidebar.nav.element.PORTLET">Portlets</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Grid")">
                    <a href="@Url.Action("Grid", "Elements")" title="Grid">
                        <span data-localize="sidebar.nav.element.GRID">Grid</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "GridMasonry")">
                    <a href="@Url.Action("GridMasonry", "Elements")" title="Grid Masonry">
                        <span data-localize="sidebar.nav.element.GRID_MASONRY">Grid Masonry</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Typo")">
                    <a href="@Url.Action("Typo", "Elements")" title="Typography">
                        <span data-localize="sidebar.nav.element.TYPO">Typography</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "IconsFont")">
                    <a href="@Url.Action("IconsFont", "Elements")" title="Font Icons">
                        <div class="badge badge-success float-right">+400</div>
                        <span data-localize="sidebar.nav.element.FONT_ICON">Font Icons</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "IconsWeather")">
                    <a href="@Url.Action("IconsWeather", "Elements")" title="Weather Icons">
                        <div class="badge badge-success float-right">+100</div>
                        <span data-localize="sidebar.nav.element.WEATHER_ICON">Weather Icons</span>
                    </a>
                </li>
                <li class="@Html.isActive("Elements", "Colors")">
                    <a href="@Url.Action("Colors", "Elements")" title="Colors">
                        <span data-localize="sidebar.nav.element.COLOR">Colors</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Forms")">
            <a href="#forms" title="Forms" data-toggle="collapse">
                <em class="icon-note"></em>
                <span data-localize="sidebar.nav.form.FORM">Forms</span>
            </a>
            <ul id="forms" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Forms</li>
                <li class="@Html.isActive("Forms", "FormStandard")">
                    <a href="@Url.Action("FormStandard", "Forms")" title="Standard">
                        <span data-localize="sidebar.nav.form.STANDARD">Standard</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormExtended")">
                    <a href="@Url.Action("FormExtended", "Forms")" title="Extended">
                        <span data-localize="sidebar.nav.form.EXTENDED">Extended</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormValidation")">
                    <a href="@Url.Action("FormValidation", "Forms")" title="Validation">
                        <span data-localize="sidebar.nav.form.VALIDATION">Validation</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormWizard")">
                    <a href="@Url.Action("FormWizard", "Forms")" title="Wizard">
                        <span>Wizard</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormUpload")">
                    <a href="@Url.Action("FormUpload", "Forms")" title="Upload">
                        <span>Upload</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormXEditable")">
                    <a href="@Url.Action("FormXEditable", "Forms")" title="xEditable">
                        <span>xEditable</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forms", "FormImgCrop")">
                    <a href="@Url.Action("FormImgCrop", "Forms")" title=" cropper">
                        <span>Cropper</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Charts")">
            <a href="#charts" title="Charts" data-toggle="collapse">
                <em class="icon-graph"></em>
                <span data-localize="sidebar.nav.chart.CHART">Charts</span>
            </a>
            <ul id="charts" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Charts</li>
                <li class="@Html.isActive("Charts", "ChartFlot")">
                    <a href="@Url.Action("ChartFlot", "Charts")" title="Flot">
                        <span data-localize="sidebar.nav.chart.FLOT">Flot</span>
                    </a>
                </li>
                <li class="@Html.isActive("Charts", "ChartRadial")">
                    <a href="@Url.Action("ChartRadial", "Charts")" title="Radial">
                        <span data-localize="sidebar.nav.chart.RADIAL">Radial</span>
                    </a>
                </li>
                <li class="@Html.isActive("Charts", "ChartJS")">
                    <a href="@Url.Action("ChartJS", "Charts")" title="Chart JS">
                        <span>Chart JS</span>
                    </a>
                </li>
                <li class="@Html.isActive("Charts", "ChartRickshaw")">
                    <a href="@Url.Action("ChartRickshaw", "Charts")" title="Rickshaw">
                        <span>Rickshaw</span>
                    </a>
                </li>
                <li class="@Html.isActive("Charts", "ChartMorris")">
                    <a href="@Url.Action("ChartMorris", "Charts")" title="Morris JS">
                        <span>Morris</span>
                    </a>
                </li>
                <li class="@Html.isActive("Charts", "ChartChartist")">
                    <a href="@Url.Action("ChartChartist", "Charts")" title="Chartist">
                        <span>Chartist</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Tables")">
            <a href="#tables" title="Tables" data-toggle="collapse">
                <em class="icon-grid"></em>
                <span data-localize="sidebar.nav.table.TABLE">Tables</span>
            </a>
            <ul id="tables" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Tables</li>
                <li class="@Html.isActive("Tables", "TableStandard")">
                    <a href="@Url.Action("TableStandard", "Tables")" title="Standard">
                        <span data-localize="sidebar.nav.table.STANDARD">Standard</span>
                    </a>
                </li>
                <li class="@Html.isActive("Tables", "TableExtended")">
                    <a href="@Url.Action("TableExtended", "Tables")" title="Extended">
                        <span data-localize="sidebar.nav.table.EXTENDED">Extended</span>
                    </a>
                </li>
                <li class="@Html.isActive("Tables", "TableDatatable")">
                    <a href="@Url.Action("TableDatatable", "Tables")" title="DataTables">
                        <span data-localize="sidebar.nav.table.DATATABLE">DataTables</span>
                    </a>
                </li>
                <li class="@Html.isActive("Tables", "TableBootGrid")">
                    <a href="@Url.Action("TableBootGrid", "Tables")" title="BootGrid">
                        <span>BootGrid</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Maps")">
            <a href="#maps" title="Maps" data-toggle="collapse">
                <em class="icon-map"></em>
                <span data-localize="sidebar.nav.map.MAP">Maps</span>
            </a>
            <ul id="maps" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Maps</li>
                <li class="@Html.isActive("Maps", "MapsGoogle")">
                    <a href="@Url.Action("MapsGoogle", "Maps")" title="Google Maps">
                        <span data-localize="sidebar.nav.map.GOOGLE">Google Maps</span>
                    </a>
                </li>
                <li class="@Html.isActive("Maps", "MapsVector")">
                    <a href="@Url.Action("MapsVector", "Maps")" title="Vector Maps">
                        <span data-localize="sidebar.nav.map.VECTOR">Vector Maps</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-heading">
            <span>More</span>
        </li>
        <li class="@Html.isActive(controller: "Pages")">
            <a href="#pages" title="Pages" data-toggle="collapse">
                <em class="icon-doc"></em>
                <span data-localize="sidebar.nav.pages.PAGES">Pages</span>
            </a>
            <ul id="pages" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Pages</li>
                <li class=" ">
                    <a href="@Url.Action("Login", "Pages")" title="Login">
                        <span data-localize="sidebar.nav.pages.LOGIN">Login</span>
                    </a>
                </li>
                <li class=" ">
                    <a href="@Url.Action("Register", "Pages")" title="Sign up">
                        <span data-localize="sidebar.nav.pages.REGISTER">Sign up</span>
                    </a>
                </li>
                <li class=" ">
                    <a href="@Url.Action("Recover", "Pages")" title="Recover Password">
                        <span data-localize="sidebar.nav.pages.RECOVER">Recover Password</span>
                    </a>
                </li>
                <li class=" ">
                    <a href="@Url.Action("Lock", "Pages")" title="Lock">
                        <span data-localize="sidebar.nav.pages.LOCK">Lock</span>
                    </a>
                </li>
                <li class="@Html.isActive("Pages", "Template")">
                    <a href="@Url.Action("Template", "Pages")" title="Template">
                        <span data-localize="sidebar.nav.pages.STARTER">Starter Template</span>
                    </a>
                </li>
                <li class=" ">
                    <a href="@Url.Action("Error_404", "Pages")" title="404">
                        <span>404</span>
                    </a>
                </li>
                <li class=" ">
                    <a href="@Url.Action("Error_500", "Pages")" title="500">
                        <span>500</span>
                    </a>
                </li>
                <li class="@Html.isActive("Pages", "Maintenance")">
                    <a href="@Url.Action("Maintenance", "Pages")" title="Maintenance">
                        <span>Maintenance</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Extras")">
            <a href="#extras" title="Extras" data-toggle="collapse">
                <em class="icon-cup"></em>
                <span data-localize="sidebar.nav.extra.EXTRA">Extras</span>
            </a>
            <ul id="extras" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Extras</li>
                <li class="@Html.isActive("Extras", "Contacts")">
                    <a href="@Url.Action("Contacts", "Extras")" title="Contacts">
                        <span>Contacts</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "ContactDetails")">
                    <a href="@Url.Action("ContactDetails", "Extras")" title="ContactDetails">
                        <span>ContactDetails</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Projects")">
                    <a href="@Url.Action("Projects", "Extras")" title="Projects">
                        <span>Projects</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "ProjectDetails")">
                    <a href="@Url.Action("ProjectDetails", "Extras")" title="ProjectDetails">
                        <span>ProjectDetails</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "TeamViewer")">
                    <a href="@Url.Action("TeamViewer", "Extras")" title="TeamViewer">
                        <span>TeamViewer</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "SocialBoard")">
                    <a href="@Url.Action("SocialBoard", "Extras")" title="SocialBoard">
                        <span>SocialBoard</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "VoteLinks")">
                    <a href="@Url.Action("VoteLinks", "Extras")" title="VoteLinks">
                        <span>VoteLinks</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "BugTracker")">
                    <a href="@Url.Action("BugTracker", "Extras")" title="BugTracker">
                        <span>BugTracker</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Faq")">
                    <a href="@Url.Action("Faq", "Extras")" title="Faq">
                        <span>Faq</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "HelpCenter")">
                    <a href="@Url.Action("HelpCenter", "Extras")" title="HelpCenter">
                        <span>HelpCenter</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Followers")">
                    <a href="@Url.Action("Followers", "Extras")" title="Followers">
                        <span>Followers</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Settings")">
                    <a href="@Url.Action("Settings", "Extras")" title="Settings">
                        <span>Settings</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Plans")">
                    <a href="@Url.Action("Plans", "Extras")" title="Plans">
                        <span>Plans</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "FileManager")">
                    <a href="@Url.Action("FileManager", "Extras")" title="FileManager">
                        <span>FileManager</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Mailbox")">
                    <a href="@Url.Action("Mailbox", "Extras")" title="Mailbox">
                        <span data-localize="sidebar.nav.extra.MAILBOX">Mailbox</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Timeline")">
                    <a href="@Url.Action("Timeline", "Extras")" title="Timeline">
                        <span data-localize="sidebar.nav.extra.TIMELINE">Timeline</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Calendar")">
                    <a href="@Url.Action("Calendar", "Extras")" title="Calendar">
                        <span data-localize="sidebar.nav.extra.CALENDAR">Calendar</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Invoice")">
                    <a href="@Url.Action("Invoice", "Extras")" title="Invoice">
                        <span data-localize="sidebar.nav.extra.INVOICE">Invoice</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Search")">
                    <a href="@Url.Action("Search", "Extras")" title="Search">
                        <span data-localize="sidebar.nav.extra.SEARCH">Search</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "Todo")">
                    <a href="@Url.Action("Todo", "Extras")" title="Todo List">
                        <span data-localize="sidebar.nav.extra.TODO">Todo List</span>
                    </a>
                </li>
                <li class="@Html.isActive("Extras", "UserProfile")">
                    <a href="@Url.Action("UserProfile", "Extras")" title="Profile">
                        <span data-localize="sidebar.nav.extra.PROFILE">Profile</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Blog")">
            <a href="#blog" title="Blog" data-toggle="collapse">
                <em class="icon-notebook"></em>
                <span>Blog</span>
            </a>
            <ul id="blog" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Blog</li>
                <li class="@Html.isActive("Blog", "Blog")">
                    <a href="@Url.Action("Blog", "Blog")" title="List">
                        <span>List</span>
                    </a>
                </li>
                <li class="@Html.isActive("Blog", "BlogPost")">
                    <a href="@Url.Action("BlogPost", "Blog")" title=" post">
                        <span>Post</span>
                    </a>
                </li>
                <li class="@Html.isActive("Blog", "BlogArticles")">
                    <a href="@Url.Action("BlogArticles", "Blog")" title="Articles">
                        <span>Articles</span>
                    </a>
                </li>
                <li class="@Html.isActive("Blog", "BlogArticleView")">
                    <a href="@Url.Action("BlogArticleView", "Blog")" title="Article View">
                        <span>Article View</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Ecommerce")">
            <a href="#ecommerce" title="eCommerce" data-toggle="collapse">
                <em class="icon-basket-loaded"></em>
                <span>eCommerce</span>
            </a>
            <ul id="ecommerce" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">eCommerce</li>
                <li class="@Html.isActive("Ecommerce", "EcommerceOrders")">
                    <a href="@Url.Action("EcommerceOrders", "Ecommerce")" title="Orders">
                        <div class="badge badge-info float-right">10</div>
                        <span>Orders</span>
                    </a>
                </li>
                <li class="@Html.isActive("Ecommerce", "EcommerceOrderView")">
                    <a href="@Url.Action("EcommerceOrderView", "Ecommerce")" title="Order View">
                        <span>Order View</span>
                    </a>
                </li>
                <li class="@Html.isActive("Ecommerce", "EcommerceProducts")">
                    <a href="@Url.Action("EcommerceProducts", "Ecommerce")" title="Products">
                        <span>Products</span>
                    </a>
                </li>
                <li class="@Html.isActive("Ecommerce", "EcommerceProductView")">
                    <a href="@Url.Action("EcommerceProductView", "Ecommerce")" title="Product View">
                        <span>Product View</span>
                    </a>
                </li>
                <li class="@Html.isActive("Ecommerce", "EcommerceCheckout")">
                    <a href="@Url.Action("EcommerceCheckout", "Ecommerce")" title="Checkout">
                        <span>Checkout</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Forum")">
            <a href="#forum" title="Forum" data-toggle="collapse">
                <em class="icon-speech"></em>
                <span>Forum</span>
            </a>
            <ul id="forum" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Forum</li>
                <li class="@Html.isActive("Forum", "ForumCategories")">
                    <a href="@Url.Action("ForumCategories", "Forum")" title="Categories">
                        <span>Categories</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forum", "ForumTopics")">
                    <a href="@Url.Action("ForumTopics", "Forum")" title="Topics">
                        <span>Topics</span>
                    </a>
                </li>
                <li class="@Html.isActive("Forum", "ForumDiscussion")">
                    <a href="@Url.Action("ForumDiscussion", "Forum")" title="Discussion">
                        <span>Discussion</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="@Html.isActive(controller: "Multilevels")">
            <a href="#multilevel" title="Multilevel" data-toggle="collapse">
                <em class="far fa-folder-open"></em>
                <span>Multilevel</span>
            </a>
            <ul id="multilevel" class="sidebar-nav sidebar-subnav collapse">
                <li class="sidebar-subnav-header">Multilevel</li>
                <li class="@Html.isActive("Multilevels", "Multilevel_1")">
                    <a href="#level1" title="Level 1" data-toggle="collapse">
                        <span>Level 1</span>
                    </a>
                    <ul id="level1" class="sidebar-nav sidebar-subnav collapse">
                        <li class="sidebar-subnav-header">Level 1</li>
                        <li class="@Html.isActive("Multilevels", "Multilevel_1")">
                            <a href="@Url.Action("Multilevel_1", "Multilevels")" title="Level1 Item">
                                <span>Level1 Item</span>
                            </a>
                        </li>
                        <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                            <a href="#level2" title="Level 2" data-toggle="collapse">
                                <span>Level 2</span>
                            </a>
                            <ul id="level2" class="sidebar-nav sidebar-subnav collapse">
                                <li class="sidebar-subnav-header">Level 2</li>
                                <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                                    <a href="#level3" title="Level 3" data-toggle="collapse">
                                        <span>Level 3</span>
                                    </a>
                                    <ul id="level3" class="sidebar-nav sidebar-subnav collapse">
                                        <li class="sidebar-subnav-header">Level 3</li>
                                        <li class="@Html.isActive("Multilevels", "Multilevel_3")">
                                            <a href="@Url.Action("Multilevel_3", "Multilevels")" title="Level3 Item">
                                                <span>Level3 Item</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>*@
        </ul>
        <!-- END sidebar nav-->
    </nav>
</div>
<!-- END Sidebar (left)-->
